@use "../general" as *;

.company-info-container {
  @include Container;
  @include two-column-grid;
  margin-block: 8rem;

  .left {
    padding-top: min(9.125rem, 10vw);
    padding-bottom: min(9.125rem, 5rem);
    text-transform: uppercase;
    flex: 1 1 100%;

  }

  span {
    color: $primary;
  }

  .right {
    flex: 1 1 100%;
    min-width: 0;
    margin: auto;

    img {
      object-fit: contain;
      width: 100%;
      max-width: 100%;
      border-radius: .5rem;
    }
  }

  @media only screen and (max-width: 810px) {
    margin-inline: 2.5rem;
    flex-direction: column-reverse;
    .left {
      text-align: center;
      padding-right: 0;
    }
  }
  @media only screen and (max-width: 428px) {
    margin-inline: 1.5rem;
  }
}