@use "../general" as *;

.showcase-container {
  margin-inline: auto;

  .showcase-section-1 {
    display: grid;
    max-width: $container-width;
    margin-inline: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "left right";
    background-color: $primary;
    background-image: url("../../public/assets/home/desktop/image-speaker-zx9.png"),
    url("../../public/assets/home/desktop/pattern-circles.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: left 5rem, 1rem;
    background-size: contain, cover;
    border-radius: 0.5rem;
    margin-bottom: 3rem;

    .description-wrapper {
      @include product-description-column(red);
      grid-area: right;
      place-self: center;
      padding-block: 10rem;
      padding-right: 3rem;

      a {
        @include btn($btn: secondary)
      }

    }

    @media screen and (max-width: $md-screen) {
      display: block;
      background-image: url("../../public/assets/home/tablet/image-speaker-zx9.png"),
      url("../../public/assets/home/desktop/pattern-circles.svg");
      background-position: top 5rem center, bottom 10rem center;
      background-size: 50%, cover;
      .description-wrapper {
        text-align: center;
        padding-bottom: 4rem;
        padding-top: 40rem;
        padding-inline: 10rem;

        h1 {
          text-align: center;
        }

        p {
          text-align: center;
        }
      }

    }
    @media screen and (max-width: $sm-screen) {
      background-image: url("../../public/assets/home/mobile/image-speaker-zx9.png"),
      url("../../public/assets/home/desktop/pattern-circles.svg");
      .description-wrapper {
        padding-inline: 1.5rem;
        padding-top: 25rem;
      }
    }
  }

  .showcase-section-2 {
    max-width: $container-width;
    margin-inline: auto;
    background-image: url("../../public/assets/home/desktop/image-speaker-zx7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;

    a {
      @include btn($btn: border-btn)
    }

    .description {
      padding: 6.25rem;
      margin-bottom: 6.25rem;
      align-self: center;

      h3 {
        @include H3;
        margin-bottom: 2rem;
      }
    }

    @media only screen and (max-width: 428px) {
      .description {
        padding: 3rem 2rem;
      }
    }
  }

  .showcase-section-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "one two";
    max-width: $container-width;
    margin-inline: auto;
    text-transform: uppercase;
    gap: 0.625rem;

    a {
      @include btn($btn: border-btn)
    }

    .description {
      padding-block: 9.375rem;
      padding-left: 6rem;
      border-radius: 0.5rem;
      background-color: $background-color;
      box-sizing: border-box;
      grid-area: two;

      h3 {
        @include H3;
        margin-bottom: 2rem;
        white-space: nowrap;
      }
    }

    .showcase-img {
      background-image: url("../../public/assets/home/desktop/image-earphones-yx1.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 0.5rem;
      grid-area: one;
    }

    @media only screen and (max-width: $md-screen) {
      .description {
        padding: 1rem;
        padding-block: 5rem;
      }
    }
    @media only screen and (max-width: $sm-screen) {
      grid-template-columns: 1fr;
      grid-template-areas: "one"
                           "two";
      .description {
        padding: 3rem 2rem;
      }
    }
  }


}