@use "./variables" as *;

@mixin Container {
  max-width: $container-width;
  margin-inline: auto;
}

@mixin Font-Styling {
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

@mixin H1 {
  @include Font-Styling;
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  color: $white;
  @media screen and (max-width: $sm-screen) {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1.28571px;
    text-transform: uppercase;
  }
}

@mixin H2 {
  @include Font-Styling;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.42857px;
  @media screen and (max-width: $sm-screen) {
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

@mixin H3 {
  @include Font-Styling;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
}

@mixin P {
  @include Font-Styling;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  mix-blend-mode: normal;
  opacity: 0.5;

}

@mixin btn($btn) {
  padding: 0.9375rem 1.875rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  min-width: auto;
  border: none;
  color: $white;
  @if $btn == primary {
    background-color: $primary;
    &:hover {
      background-color: $primary-hover;
    }
  } @else if $btn == secondary {
    background-color: $off-black;
    &:hover {
      background-color: $secondary-hover;
    }
  } @else if $btn == border-btn {
    background-color: transparent;
    border: solid 2px $off-black;
    color: $off-black;
    &:hover {
      background-color: $black;
      color: $off-white;
    }
  } @else if $btn == word-btn {
    background-color: transparent;
    border: none;
    color: $off-black;
    &:hover {
      color: $primary;
    }
  }

  @media only screen and (max-width: 428px) {
    padding: 0.9375rem 1.5rem;
  }
}

@mixin counter-btn {
  color: $black;
  background-color: $background-color;
  text-align: center;
  white-space: nowrap;
  button {
    @include btn($btn: word-btn);
    color: $black;
    background-color: $background-color;
  }
}

@mixin two-column-grid {
  @include product-description-column(reg);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "left right";
  gap: 8rem;
  margin-inline: auto;
  margin-bottom: 10rem;
  align-items: center;

  @media screen and (max-width: $md-screen) {
    grid-template-columns: 1fr;
    grid-template-areas: "left" "right";
    gap: 4rem;
    text-align: center;
    .left {
      grid-area: left;
    }
    .right {
      grid-area: right;
    }
  }
}

/* used for two column layouts desc half */
@mixin product-description-column($type) {
  text-transform: uppercase;
  @if $type == hero {
    color: $white;
    padding-left: 10rem;
  } @else {
    color: $black;
  }
  .newProductTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 10px;
    text-transform: uppercase;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-bottom: 1.5rem;
    @if $type == hero {
      color: $white;
    } @else {
      color: $primary;
    }
  }
  button {
    @include btn(primary);
    color: $white;
  }
  p {
    @include P;
    @if $type == reg {
      color: $black;
    } @else {
      color: $white;
    }
    mix-blend-mode: normal;
    opacity: 0.75;
    margin-bottom: $three-element-spacing;
  }
  h1 {
    @include H1;
    margin-bottom: $two-element-spacing - 0.5;
  }
  h2 {
    @include H2;
    margin-bottom: $two-element-spacing - 0.5;
  }
  h3 {
    @include H3;
    text-transform: uppercase;
  }
  a {
    text-decoration: none;
    color: white;
  }
}
