@use "./variables" as *;

@mixin btn($btn) {
  padding: 0.9375rem 1.875rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  min-width: auto;
  border: none;
  color: $white;
  @if $btn == primary {
    background-color: $primary;
    &:hover {
      background-color: $primary-hover;
    }
  } @else if $btn == secondary {
    background-color: $off-black;
    &:hover {
      background-color: $secondary-hover;
    }
  } @else if $btn == border-btn {
    background-color: transparent;
    border: solid 2px $off-black;
    color: $off-black;
    &:hover {
      background-color: $black;
      color: $off-white;
    }
  } @else if $btn == word-btn {
    background-color: transparent;
    border: none;
    color: $off-black;
    &:hover {
      color: $primary;
    }
  }

  @media only screen and (max-width: 428px) {
    padding: 0.9375rem 1.5rem;
  }
}

@mixin counter-btn {
  color: $black;
  background-color: $background-color;
  text-align: center;
  white-space: nowrap;

  button {
    color: $black;
    background-color: $background-color;
    @include btn($btn: word-btn)
  }


}