/* colors */
$primary: #d87d4a;
$primary-hover: #fbaf85;
$black: #000000;
$white: #ffffff;
$off-black: #101010;
$off-white: #fafafa;
$background-color: #f1f1f1;
$secondary-hover: #4c4c4c;

/* font sizes */
$h1: 3.5rem;
$h2: 2.5rem;
$h3: 2rem;
$h4: 1.75rem;
$h5: 1.5rem;
$h6: 1.25rem;
$body: 1rem;

/* screen sizes */
$xl-screen: 1400px;
$lg-screen: 1200px;
$md-screen: 900px;
$sm-screen: 600px;

/* spacing */
$two-element-spacing: 2rem;
$three-element-spacing: 2.5rem;
$margin-bottom: 8rem;
$container-width: min($lg-screen, 100% - $h1);
