@use "../general" as *;

.category-container {
  background-color: $off-black;
  margin-bottom: 10rem;

  .page-title {
    text-transform: uppercase;
    color: $white;
    text-align: center;
    padding-bottom: 6rem;
    background-color: $off-black;

    h1 {
      padding-top: 8rem;
    }
  }
}

.description-container {
  @include Container;

  .product-wrapper {
    @include two-column-grid;
  }

  div:nth-child(even) {
    .left {
      grid-area: right;
    }

    .right {
      grid-area: left;
    }
  }

  @media screen and (max-width: $md-screen) {
    div:nth-child(even) {
      .left {
        grid-area: left;
      }

      .right {
        grid-area: right;
      }
    }
  }
}