@use "../general" as *;

.hero-container {
  display: flex;
  align-items: center;
  background-color: $off-black;
  background-image: url("../../public/assets/home/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .hero-content-wrapper {
    @include product-description-column(hero);
    margin-block: auto;
    padding-block: 25vh;
    width: 50%;
  }

  @media only screen and (max-width: $md-screen) {
    height: auto;
    background-image: url("../../public/assets/home/tablet/image-header.jpg");

    .hero-content-wrapper {
      text-align: center;
      padding-block: 6rem;
      padding-inline: 3rem;
      width: auto;
    }
  }
  @media only screen and (max-width: $sm-screen) {
    .hero-content-wrapper {
      padding-top: 10rem;
      padding-inline: 1rem;
    }
  }
}